<div class="login-container">
    <form class="flx-column" (ngSubmit)="login()">

        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="" required [(ngModel)]="username" name="username" type="text">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="" required type="password" name="password" type="password">
        </mat-form-field>

        <div class="space-btwn">
            <button mat-flat-button>Login</button>
            <button mat-flat-button (click)="openRegisterForms()">Register</button>
        </div>

    </form>
</div>