<div class="login-container">

    <h1>Login Kanban-Board</h1>
    <form class="flx-column" (ngSubmit)="login()">

        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="" required [(ngModel)]="username" name="username" type="text">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="" required [(ngModel)]="password" name="password" type="password">
        </mat-form-field>

        <div class="space-btwn">
            <button mat-flat-button>Login</button>
            <button mat-flat-button (click)="openRegisterForms()">Register</button>
        </div>

        <strong *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </strong>

    </form>



</div>