.material-symbols-outlined {
    color: #3F51B5;
}

.mdl-navigation{
    display: flex;
    justify-content: center;
    column-gap: 14px;
    
.mdl-navigation__link {
    display: flex;
    flex-direction: row;
    column-gap: 32px;

}

}

