<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Kanban-board</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">

    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Logout<span class="material-symbols-outlined">logout</span></a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">

      
      <div class="add-task">
        <mat-form-field class="example-full-width">
          <mat-label>Add Task</mat-label>
          <input #taskInput type="text" matInput placeholder="New Task">
        </mat-form-field>
        <button mat-flat-button (click)="addTask(taskInput)">Add</button>
      </div>


      <div class="drag-and-drop-content">

        
        <div class="example-container">
          <h2>To do</h2>
          <div cdkDropList #todolist="cdkDropList" [cdkDropListConnectedTo]="[donelist, progresslist]" [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todo; let i = index" cdkDrag>
              {{item}}
              <button mat-icon-button color="warn" (click)="deleteTask(i, 'todo')">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        
        <div class="example-container">
          <h2>Progress</h2>
          <div cdkDropList #progresslist="cdkDropList" [cdkDropListConnectedTo]="[todolist, donelist]" [cdkDropListData]="progress" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of progress; let i = index" cdkDrag>
              {{item}}
              <button mat-icon-button color="warn" (click)="deleteTask(i, 'progress')">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        
        <div class="example-container">
          <h2>Done</h2>
          <div cdkDropList #donelist="cdkDropList" [cdkDropListConnectedTo]="[todolist, progresslist]" [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done; let i = index" cdkDrag>
              {{item}}
              <button mat-icon-button color="warn" (click)="deleteTask(i, 'done')">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        


      </div>





    </div>
  </main>
</div>